@media (min-width: 375px) {
  .land {
    background-image: url("img/background-mobile.png");
    height: 750px;
    min-width: 375px;
    background-repeat: no-repeat;
  }

  nav {
    margin-top: 10px;
    margin-right: 10px;
  }

  .main-1 {
    width: 375px;
    display: flex;
    justify-content: space-between;
  }

  .my-logo {
    margin-top: 30px;
    width: 76px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    /* identical to box height, or 111% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Primary/B400 */
    color: #6070ff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .my-menu div {
    height: 5px;
    background-color: #6070ff;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.5s;
  }

  .my-menu {
    width: 30px;
    display: block;
  }

  .headline {
    margin-left: 12px;
    background-image: url("img/header-shapes\ mobile.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 462px;
    height: 587.15px;
  }

  .head1 {
    margin-top: 100px;
    margin-left: 24px;
    width: 250px;
    height: 150px;

    /* Header / 2 */
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */
    display: flex;
    align-items: center;

    /* Neutrals/N800 */

    color: #172b4d;
  }

  .primary {
    /* Primary Text */
    margin-left: 10px;
    width: 300px;
    height: 146px;

    /* Body / 2 */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #344563;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .primary-div {
    margin-top: -10px;
    height: 146px;
    width: 327px;
  }

  .connect {
    /* LET’S CONNECT */
    margin-bottom: -10px;
    margin-left: 10px;
    width: 200px;
    height: 24px;

    /* Body / 2 - Bolder */

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */

    /* Primary/B300 */
    color: #7f8cff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #6070ff;
  }

  a:active {
    color: #2230d2;
  }

  .icons {
    width: 170.17px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .socials {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    order: 3;
    flex-grow: 0;
  }

  /* from here */
  .snapshot1 {
    margin-top: 30px;
    height: 570px;
    width: 375px;
    border-radius: 16px;
    padding: 16px;
    background: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  body {
    background: #e5e5e5;
  }

  .head-one {
    /* Project Title */
    width: 295px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-top: -20px;

    /* Neutrals/N800 */
    color: #172b4d;
  }

  .doc {
    width: 295px;
    height: 76px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    /* Neutrals/N600 */
    color: #344563;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  ul li {
    text-decoration: none;
  }

  .grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 32px;
    min-width: 310px;
    align-items: center;
  }

  .grid-item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
    order: 1;
  }

  .counter {
    height: 10px;
    margin-top: 8px;
    margin-right: 5px;
  }

  .tags {
    height: 24px;
    width: 224px;
    top: 200px;
  }

  .canop {
    color: #020303;
  }

  #grey-works {
    color: #7a869a;
  }

  .works {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    column-gap: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
  }

  a:link {
    text-decoration: none;
    color: #6070ff;
  }

  .btn {
    /* Tag */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 53px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .action {
    height: 72px;
    width: 295px;
    margin-top: 35px;
  }

  .normal-btn {
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 10px;
    position: absolute;
    width: 124px;
    height: 48px;

    /* Primary/B400 */

    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  .btn-text {
    color: #396df2;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-style: normal;
  }

  .about {
    background-image: url("img/Base-about-my-self.png");
    background-repeat: no-repeat;
    width: 375px;
    height: 1000px;
    margin-top: 50px;
  }

  .language {
    margin-left: 20px;
    height: 24px;
    width: 237px;
    color: #0f0d0d;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    font-size: 20px;
  }

  .lang-list {
    width: 327px;
    height: 248.15px;
  }

  .a-items {
    display: grid;
    gap: 15px;
  }

  .b-items {
    display: flex;
    justify-content: left;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  #icon-text {
    font-weight: 500;
    font-size: 20px;
    font-style: bold;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
    justify-content: space-between;
    color: #06080c;
  }

  .frame-8 {
    width: 327px;
    height: 72px;
  }

  .frameworks {
    display: flex;
    justify-content: space-around;
  }

  .frames {
    font-weight: 500;
    font-size: 26px;
    line-height: 24px;
    color: black;
    margin-top: 10px;
  }

  .line {
    height: 1px;
    background: #dfe1e6;
    width: 300px;
    margin-left: 10px;
  }

  .headline-2 {
    width: 462px;
    height: 587.15px;
    top: 104px;
  }

  .head-2 {
    margin-top: 30px;
    margin-left: 24px;
    width: 250px;
    height: 150px;

    /* Header / 2 */
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .icons-2 {
    width: 170.17px;
    height: 20px;
    margin-top: 20px;
    margin-left: -30px;
  }

  .socials-2 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    order: 3;
    flex-grow: 0;
  }
}
